*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

#calculator
  display: grid
  grid-template-areas: 'screen screen screen screen''ac ac ce ce''number-7 number-8 number-9 divide''number-4 number-5 number-6 multiply''number-1 number-2 number-3 subtract''number-0 decimal equal add'
  gap: 10px
  
  & button
    min-height: 30px
    min-width: 60px

#screen
  grid-area: screen
  display: flex
  flex-direction: column
  height: 60px
  border: 1px solid black
  
  & span 
    height: 50%
    width: 100%
    text-align: right

#ac
  grid-area: ac
#ce
  grid-area: ce
#divide
  grid-area: divide
#number-7
  grid-area: number-7
#number-8
  grid-area: number-8
#number-9
  grid-area: number-9
#multiply
  grid-area: multiply
#number-4
  grid-area: number-4
#number-5
  grid-area: number-5
#number-6
  grid-area: number-6
#subtract
  grid-area: subtract
#number-1
  grid-area: number-1
#number-2
  grid-area: number-2
#number-3
  grid-area: number-3
#add
  grid-area: add
#number-0
  grid-area: number-0
#decimal
  grid-area: decimal
#equal
  grid-area: equal

p 
  font-size: 2rem

